<footer class="bg-blue-600 text-white py-8 mt-6">
  <div class="container mx-auto flex flex-col md:flex-row justify-between items-start">
    <div class="mb-4 md:mb-0">
      <h3 class="font-bold text-4xl mb-2 text-yellow-400">Ba<span class="text-white">Link</span></h3>
      <p class="text-sm mb-4">Providing the best transportation solutions for all your needs.</p>
      <div class="flex space-x-4">
        <div class="flex space-x-4">
          <!-- Instagram Icon -->
          <a href="https://www.instagram.com" aria-label="Instagram">
            <i class="fab fa-instagram h-8 w-8 text-white hover:text-yellow-400 transition-colors"></i>
          </a>
          <!-- Chat Icon (Using Comments Icon as Example) -->
          <a href="https://chat.example.com" aria-label="Chat">
            <i class="fas fa-comments h-8 w-8 text-white hover:text-yellow-400 transition-colors"></i>
          </a>
          <!-- Facebook Icon -->
          <a href="https://www.facebook.com" aria-label="Facebook">
            <i class="fab fa-facebook h-8 w-8 text-white hover:text-yellow-400 transition-colors"></i>
          </a>
        </div>
      </div>
    </div>

    <!-- Vertical Divider -->
    <div class="hidden md:block h-64 border-l border-white mx-4"></div>

    <div class="mb-4 md:mb-0">
      <h3 class="text-lg font-bold mb-2 text-yellow-400">Our Features</h3>
      <ul class="text-sm space-y-1">
        <li><a href="/" class="hover:underline hover:text-yellow-400">Home</a></li>
        <li><a href="/product/" class="hover:underline hover:text-yellow-400">Products</a></li>
        <li><a href="/review/" class="hover:underline hover:text-yellow-400">Review</a></li>
        <li><a href="/bookmarks/" class="hover:underline hover:text-yellow-400">Bookmark</a></li>
        <li><a href="/cart/" class="hover:underline hover:text-yellow-400">Cart</a></li>
        <li><a href="/article/" class="hover:underline hover:text-yellow-400">Place to Go</a></li>
        <li><a href="/about_us/" class="hover:underline hover:text-yellow-400">About Us</a></li>
      </ul>
    </div>

    <!-- Vertical Divider -->
    <div class="hidden md:block h-64 border-l border-white mx-4"></div>

    <div>
      <h3 class="text-lg font-bold mb-2 text-yellow-400">Contact Us</h3>
      <p class="text-sm">Email: <a href="mailto: B09@balink.com" class="hover:underline hover:text-yellow-400">B09@balink.com</a></p>
      <p class="text-sm">Phone: <a href="tel:+123456789" class="hover:underline hover:text-yellow-400">+123 456 789</a></p>
    </div>
  </div>
  <br />
  <hr style="width: 50%; margin: 20px auto; border: 1px solid" />
  <div class="text-center mt-6">
    <p class="text-xl">&copy; 2024 <span class="font-bold">Balink</span>. All rights reserved.</p>
  </div>
</footer>
