{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>BaLink | Review Page</title>
{% endblock meta %}

{% block content %}
{% include 'navbar.html' %}

<!-- Header halaman ride to review -->
<div class="container mx-auto mt-6 px-4">
    <div class="w-full flex flex-col sm:flex-row items-center sm:justify-center bg-gradient-to-br from-blue-600 to-blue-700 text-white rounded-lg p-6">
        <div class="mb-4 sm:mb-0">
            <h2 class="text-4xl md:text-3xl font-bold leading-tight">Choose your ride to review!</h2>
        </div>
    </div>
</div>

<!-- Search bar -->
<div class="container mx-auto mt-4 px-4">
    <form method="GET" action="{% url 'review:ride_to_review' %}" class="flex items-center space-x-4">
        <input
            type="text"
            name="search"
            placeholder="Search your ride to review"
            class="flex-grow border border-gray-300 bg-gray-200 text-black placeholder-gray-500 rounded-lg p-2 focus:outline-none focus:ring-2 focus:ring-blue-600 focus:bg-white transition"
            value="{{ request.GET.search|default:'' }}"
        />
        <button
            type="submit"
            class="bg-blue-600 hover:bg-blue-700 text-white px-4 py-2 rounded-lg font-bold shadow transition">
            Search
        </button>
    </form>
</div>

<!-- All rides -->
<div class="container mx-auto mt-6 px-4">
    <div class="product-list grid grid-cols-2 sm:grid-cols-3 md:grid-cols-3 lg:grid-cols-4 gap-6" id="product-list">
        {% for product in products %}
        <div class="product-card bg-white rounded-lg shadow-md overflow-hidden hover:shadow-xl flex flex-col">
            <img src="{{ product.image_url }}" alt="{{ product.name }}" class="product-image w-full h-36 object-cover" />
            <div class="product-info p-4 text-center">
                <h2 class="product-name text-1xl font-semibold">{{ product.name }}</h2>
            </div>
            <div class="card-footer p-4 mt-auto flex justify-center">
                <button 
                    data-product-id="{{ product.id }}" 
                    data-product-name="{{ product.name }}" 
                    data-product-image="{{ product.image_url }}" 
                    class="rent-button bg-blue-600 text-white px-4 py-2 rounded-lg hover:bg-blue-700 transition" 
                    onclick="showModal(this);">
                    Review this Ride!
                </button>
            </div>

            <!-- Modal untuk review -->
            <div id="crudModal" tabindex="-1" aria-hidden="true" class="hidden fixed inset-0 z-40 w-full flex items-center justify-center bg-gray-800 bg-opacity-50 overflow-x-hidden overflow-y-auto transition-opacity duration-300 ease-out">
                <div id="crudModalContent" class="relative bg-white rounded-lg shadow-lg w-5/6 sm:w-3/4 md:w-1/2 lg:w-1/3 mx-4 sm:mx-0 transform scale-95 opacity-0 transition-transform transition-opacity duration-300 ease-out p-6 overflow-auto max-h-[90vh]">
                    <!-- Modal header -->
                    <div class="flex items-center justify-between p-4 border-b rounded-t">
                        <h3 class="text-xl font-semibold text-gray-900">
                            Review
                        </h3>
                        <button type="button" class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm p-1.5 ml-auto inline-flex items-center" id="closeModalBtn">
                            <svg aria-hidden="true" class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z" clip-rule="evenodd"></path>
                            </svg>
                            <span class="sr-only">Close modal</span>
                        </button>
                    </div>
                    <!-- Modal body -->
                    <div class="px-6 py-4 space-y-6 form-style">
                        <img src="" alt="" class="product-image w-full h-48 object-cover" />
                        <div class="product-info p-4 text-center">
                            <h2 class="product-name text-2xl font-semibold"></h2>
                        </div>
                        <form id="ReviewEntryForm">
                            {% csrf_token %}
                            <input type="hidden" id="product-id" name="product_id">
                            <div class="mb-4">
                                <label for="rating" class="block text-sm font-medium text-gray-700">Rate</label>
                                <input type="number" id="rating" name="rating" min="1" max="5" class="mt-1 block w-full border border-gray-300 rounded-md p-2 hover:border-indigo-700" required>
                            </div>
                            <div class="mb-4">
                                <label for="review_message" class="block text-sm font-medium text-gray-700">Review</label>
                                <textarea id="review_message" name="review_message" rows="3" class="mt-1 block w-full h-52 resize-none border border-gray-300 rounded-md p-2 hover:border-indigo-700" placeholder="Describe your experience!" required></textarea>
                            </div>
                        </form>
                    </div>
                    <!-- Modal footer -->
                    <div class="flex flex-col space-y-2 md:flex-row md:space-y-0 md:space-x-2 p-6 border-t border-gray-200 rounded-b justify-center">
                        <button type="submit" id="submitReviewEntry" form="ReviewEntryForm" class="bg-yellow-400 hover:bg-yellow-500 text-white font-bold py-2 px-4 rounded-lg">Confirm</button>
                        <button type="button" class="bg-blue-600 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded-lg" id="cancelButton">Back</button>
                    </div>
                </div>
            </div>
        </div>
        {% empty %}
        <p class="text-gray-600">No products available to review at this time.</p>
        {% endfor %}
    </div>

    <!-- Script untuk AJAX dan modal -->
    <script>
        function showModal(button) {
            const productId = button.getAttribute('data-product-id');
            const productName = button.getAttribute('data-product-name');
            const productImage = button.getAttribute('data-product-image');
    
            document.querySelector('#crudModal .product-name').textContent = productName;
            document.querySelector('#crudModal .product-image').setAttribute('src', productImage);
            document.querySelector('#crudModal .product-image').setAttribute('alt', productName);
            document.querySelector('#product-id').value = productId;
    
            const modal = document.getElementById('crudModal');
            const modalContent = document.getElementById('crudModalContent');
    
            modal.classList.remove('hidden');
            setTimeout(() => {
                modalContent.classList.remove('opacity-0', 'scale-95');
                modalContent.classList.add('opacity-100', 'scale-100');
            }, 50);
        }
    
        function hideModal() {
            const modal = document.getElementById('crudModal');
            const modalContent = document.getElementById('crudModalContent');
    
            modalContent.classList.remove('opacity-100', 'scale-100');
            modalContent.classList.add('opacity-0', 'scale-95');
    
            setTimeout(() => {
                modal.classList.add('hidden');
            }, 150);
        }
    
        document.getElementById("cancelButton").addEventListener("click", hideModal);
        document.getElementById("closeModalBtn").addEventListener("click", hideModal);
    
        document.getElementById("ReviewEntryForm").addEventListener("submit", function(event) {
            event.preventDefault();
            addReviewEntry();
        });
    
        function addReviewEntry() {
            const csrfToken = document.querySelector('input[name="csrfmiddlewaretoken"]').value;
            const formData = new FormData(document.querySelector('#ReviewEntryForm'));
    
            fetch("{% url 'review:add_review_entry_ajax' %}", {
                method: "POST",
                headers: {
                    'X-CSRFToken': csrfToken,
                },
                body: formData,
            })
            .then(response => {
                if (response.ok) {
                    window.location.href = "{% url 'review:show_main' %}";
                } else {
                    console.log('Failed to submit review');
                }
            })
            .catch(error => console.log('Error:', error));
    
            document.getElementById("ReviewEntryForm").reset();
            hideModal();
    
            return false;
        }
    </script>    
</div>
{% endblock content %}